*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family:'Source Sans Pro';
  src: url('fonts/SourceSansPro-Bold.otf')format('opentype');
  src: url('fonts/SourceSansPro-Regular.otf')format('opentype');
  src:url('fonts/SourceSansPro-Semibold.otf')format('opentype');
  src: url('fonts/SourceSansPro-ExtraLight.otf')format('opentype');
  src: url('fonts/SourceSansPro-It.otf')format('opentype');
  font-weight: lighter;
}
header{
  width: 100%;
  height: 145vh;
  background-color:  #071629;
}

.banner{
  width: 100%;
  height: 130vh;
  background-image: url(Object.png);
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 120px;
  cursor: pointer;
}
.navbar ul li{
  font-family:'Source Sans Pro',Arial, sans-serif ;
  list-style: none;
  display: inline-block;
  margin: 0 30px;
}
.navbar ul li a{
  color: #fff;
  font-family:'Source Sans Pro', Arial, sans-serif ;
  font-size: 12px;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.content{
  width: 100%;
  position: absolute;
  top: 40%;
  transform: translateY(-44%);
  text-align: center;
  color: #fff;
  font-family: 'Source Sans Pro';
}
.content h1{
  font-size: 120px;
  transform: translateX(-3%);
  font-family: 'Source Sans Pro';
}
.content span{
  font-size: 16px;
  margin:0 25px;
  align-items: center;
  justify-content: space-between;
}
button{
  padding: 10px 15px;
  margin: 10px 10px;
  border-radius: 50px;
  width: 162px;
  height: 44px;
  font-size: 11px;
  position: absolute;
  top: 55%;
  text-align: center;
  right: 46%;
  color: #fff;
  background-color: #C271FF;
}
.Learn h2{
  width: 280px;
  position: absolute;
  top: 88%;
  text-align: center;
  color: #fff;
  font-family: 'Source Sans Pro';
  right:44% ;
  font-size: 32px;
}
.highlight{
  color: #C271FF;
}
.Phillip img{
  position: absolute;
  top: 102%;
  left: 15%;
}
.Phillip h3{
  position: absolute;
  top: 124%;
  left:15%;
  color: #fff;
}
 #smile{
  position: absolute;
  color: #fff;
  top: 127%;
  left: 14.3%;
  font-size: 16px;
}
#year{
  position: absolute;
  color: #fff;
  top: 130%;
  left: 16.5%;
  font-size: 16px;
}
.Nannie img{
  position: absolute;
  top: 102%;
  left:33%;
}
.Nannie h3{
  position: absolute;
  top: 124%;
  left: 33%;
  color: #fff;
}
#best{
  position: absolute;
  top:127%;
  left: 33.5%;
  color: #fff;
}
#yr{
  position: absolute;
  top: 130%;
  left: 36%;
  color: #fff;
}
.Bruce img{
  position: absolute;
  top: 102%;
  left:52%;
  border-radius: 50%;
}
.Bruce h3{
  position: absolute;
  top: 124%;
  left: 54%;
  color: #fff;
}
#friend{
  position: absolute;
  top:127%;
  left: 53%;
  color: #fff
}
#live{
  position: absolute;
  top:130%;
  left: 53%;
  color: #fff
}
.Henry img{
  position: absolute;
  top: 102%;
  left:71%;
}
.Henry h3{
  position: absolute;
  top: 124%;
  left: 73%;
  color: #fff;
}
#smiles{
  position: absolute;
  top: 127%;
  left: 72%;
  color: #fff;
}
#winner{
  position: absolute;
  top: 130%;
  left: 74.5%;
  color: #fff;
}
.one{
  background-color: #C271FF;
  height: 370px;
}
.one img{
  position: absolute;
  left: 15%;
  top: 160%;
}
.one blockquote{
  position: absolute;
  color: #fff;
  font-size: 22px;
  left: 30%;
  top: 163%;
  width: 49%;
}
.one h3{
  position: absolute;
  color: #fff;
  font-size: 22px;
  left: 30%;
  top:173%;
}
.one p{
  position: absolute;
  color: #fff;
  font-size: 22px;
  left: 30%;
  top: 177.5%;
}
.two{
background-color: #fff;
height: 470px;
}
.two h2{
  position: absolute;
  left: 38%;
  top: 199%;
  font-size: 32px;
}
#Diagonal{
  position: absolute;
  top: 210%;
  left:9%;
}
#diagonall{
  position: absolute;
  top: 216%;
  left: 15%;
}

#sad{
  position: absolute;
  top:210%;
  left:28%;
}
#sadd{
  top: 216%;
  position: absolute;
  left: 34.5%;
}
#natural{
  position: absolute;
  top: 210%;
  left: 47%;
}
#naturall{
  position: absolute;
  top: 216%;
  left: 53%;
}
#happy{
  position: absolute;
  top: 210%;
  left:66%;
}
#happyy{
  position: absolute;
  top: 216%;
  left: 72.5%;
}
#diagonal{
  position: absolute;
  left: 10%;
  top: 233%;
  font-size: 16px;
}
.star1 img{
  display: flex;
  position: absolute;
  left: 10%;
  top: 250%;
}
.star1 p{
  color: #C271FF;
  display: flex;
  position: absolute;
  left: 22%;
  top: 250%;
}
#Happy{
  position: absolute;
  left: 67%;
  top: 233%;
  font-size: 16px;
}
.star2 img{
  display: flex;
  position: absolute;
  left: 67.5%;
  top: 250%;
}
.star2 p{
  color: #C271FF;
  display: flex;
  position: absolute;
  left: 80%;
  top: 250%;
}
#Natural{
  position: absolute;
  top: 233%;
  left: 48%;
  font-size: 16px;
}
.star3 img{
  display: flex;
  position: absolute;
  left: 48%;
  top: 250%;
}
.star3 p{
  color: #C271FF;
  display: flex;
  position: absolute;
  left: 60%;
  top: 250%;
}
#Sad{
  position: absolute;
  top: 233%;
  left: 29%;
  font-size: 16px;
}